<h1>Hello World <button type="button" class="bg-primary"> something</button></h1>
<%= react_component("Auth", prerender: false) %>
<%= react_component("Admin", prerender: false) %>
<%= react_component("User", prerender: false) %>